<launch>
    <param name="am_noise"      type="double" value="20.0" />
    <param name="wm_noise"      type="double" value="0.04" />
    <param name="ab_noise"  	type="double" value="0.2" />
    <param name="wb_noise" 		type="double" value="1e-3" />

    <param name="I_p_Uwb_x"       type="double" value="0.004" />
    <param name="I_p_Uwb_y"       type="double" value="-0.03" />
    <param name="I_p_Uwb_z"       type="double" value="0.0" />
    <param name="a_filter_ratio"    type="double" value="0.7" />
    <param name="w_filter_ratio"    type="double" value="0.1" />

    <node name="nmea_topic_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" output="screen" />
    <node name="eskf_localization_node" pkg="eskf_localization" type="eskf_localization_node" output="screen" />
    <!-- <node name="stm_com" pkg="serial_com" type='stm_com' output="screen" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find eskf_localization)/ros_wrapper/rviz/rviz_config.rviz" output="screen"/>

</launch>